<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>Bienvenida</servlet-name>
        <servlet-class>com.mycompany.parcial2.Bienvenida</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ingreso2</servlet-name>
        <servlet-class>com.mycompany.parcial2.Ingreso2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>suma</servlet-name>
        <servlet-class>com.mycompany.parcial2.suma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resta</servlet-name>
        <servlet-class>com.mycompany.parcial2.resta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>division</servlet-name>
        <servlet-class>com.mycompany.parcial2.division</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>multiplicacion</servlet-name>
        <servlet-class>com.mycompany.parcial2.multiplicacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ingrso</servlet-name>
        <servlet-class>com.mycompany.parcial2.Ingrso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Suma2</servlet-name>
        <servlet-class>com.mycompany.parcial2.Suma2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Bienvenida</servlet-name>
        <url-pattern>/Bienvenida</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ingreso2</servlet-name>
        <url-pattern>/Ingreso2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>suma</servlet-name>
        <url-pattern>/suma</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resta</servlet-name>
        <url-pattern>/resta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>division</servlet-name>
        <url-pattern>/division</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>multiplicacion</servlet-name>
        <url-pattern>/multiplicacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ingrso</servlet-name>
        <url-pattern>/Ingrso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Suma2</servlet-name>
        <url-pattern>/Suma2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
